html, body {
  /*font-family: 'Raleway',  Arial, Helvetica, sans-serif;*/
}

.main-container { width: 100%; position: relative; }
.main-footer { width: 100%; position: relative; height: 150px; bottom: 0px; }